.containervideo{ 
    margin-top: 5rem;
    
}
.chapterhead{ 
    margin-top: 5rem;
}
.card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card ul li {
    margin-left: 2rem;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .card ul li:last-child {
    border-bottom: none; 
  }
  
  .card ul li button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card ul li button:hover {
    background-color: #0056b3;
  }
  